## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
country=['Taiwan','Ireland','Australia','Japan','Thailand']
population=rand_number=np.random.randint(0,10000000,len(country))
#在0~10000000中，取同country個數的正整數
data = {'國家':country,'人口':population}
#此為dictionary
data = pd.DataFrame(data)
#將dictionary變為DataFrame
data

          國家       人口
0     Taiwan  7779983
1    Ireland  1795165
2  Australia  4281674
3      Japan  6620072
4   Thailand  5607911

In [3]:
index_of_maximum_population=data['人口'].idxmax()
#找出在'人口'欄位中最大值的index為何
print('人口數最多的國家為:',data['國家'].loc[index_of_maximum_population])

人口數最多的國家為: Taiwan